.contactus_page {
  margin: 60px;
}
.contactus_page h4 {
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}
.contactus_form {
  box-shadow: 20px 20px 50px grey;
  margin: 30px;
}
.contactus_form h3 {
  color: rgb(255, 17, 0);
  text-align: center;
  text-transform: capitalize;
  padding: 50px;
}
.contactus_container {
  margin: 40px;
}
.name {
  display: flex;
  justify-content: space-around;
}
.property_btn {
  color: #fff;
  background-color: #f4511e;
  height: 50px;
  border: none;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
