.tenants_container {
  margin: 70px;
  font-family: "Poppins", sans-serif;
}
.about {
  padding: 30px;
}
.about h3 {
  letter-spacing: 1px;
  font-weight: bold;
  padding-left: 50px;
  font-size: 28px;
}
.underline {
  border-bottom: 3px solid rgb(255, 72, 0);
  padding-bottom: 2px;
}
.sample {
  display: flex;
  padding-top: 20px;
}
.sample_pic {
  padding-left: 10px;
}
.house_att {
  display: grid;
  grid-template-columns: 1fr 1fr 60px;
  padding-top: 80px;
}
.house_prop {
  padding-left: 80px;
}
.house_prop img {
  box-shadow: 5px 5px 15px grey;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
.house_prop h4 {
  display: block;
}
.properties_container {
  margin: 50px;
}
.header {
  display: flex;
  justify-content: space-between;
  margin: 30px;
}
.property_head h3 {
  font-size: 26px;
}
