*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App{
  font-family: 'Poppins', sans-serif;
}
.nav_container{
  background-color: rgb(36, 36, 107);
  min-height: 60px;
  max-height: 80px;
}
.logo{
  margin-right: 100px;
}
.logo img{
  width: 100px;
  text-align: left;
}
nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}
nav li{
  padding: 20px;
  cursor: pointer;
  margin-right: 30px;
}